* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
 /*    color: #23272A; */
}

nav {
    background-color: #255ee9;
    padding: 1rem;
}

hr {
    margin: 2rem 0;
}

ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

p {
    padding-bottom: 2rem;
    font-size: 110%;
    line-height: 1.5em;
}

.container {
    width: 920px;
    margin: auto;
}

nav .nav-logo {
    width: 110%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .row {
    justify-content: space-between;
}

.row ul {
    list-style: none;
    display: flex;
    column-gap: 1rem;
}

header section {
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    margin-bottom: 5rem;
}

.container.container-s {
    width: 700px;
    margin: auto;
    padding-bottom: 15rem;
    text-align: center;
}

.container-s h1 {
    font-size: 3.2rem;
    color: white;
    padding: 5rem 0 3rem 0;
}

.container-s p {
    color: white;
}

.background-white {
    background-color: #FFFFFF;
    padding: 2rem;
    width: 100%;
    padding-bottom: 6rem;
}

.background-grey {
    background-color: #f7f7f7;
    padding-bottom: 6rem;
}

.background-grey .container .row {
    flex-direction: row-reverse;
}

.box h2 {
    padding-top: 2rem;
    text-align: center;
}

.box p {
    text-align: center;
}

#bg-h2 {
    background-image: url('../img/stars.svg');
    background-size: cover;
    margin-bottom: 3rem;
}

.btn.large.blue {
    background-color: #8EA1E1;
    color: white;
}

footer {
    background-color: #23272A;
    padding: 2rem;
}

.row-footer {
    display: flex;
}

footer .container .row-footer .col-2 {
    color: white;
}

.footer-color {
    color: #7289DA;
}

.flag {
    width: 6%;
}

.social {
    padding-top: 1rem;
    color: white;
}

.social i {
    padding-right: 1rem;
    color: white;
}

.white {
    color: white;
}

.col.col-2 ul {
    list-style: none;
}

.col.col-2 ul li {
    padding: 0.5rem;
}

footer .col {
    padding-right: 2rem;
}

footer .col.col-2 {
    padding-right: 3rem;
}

.row-footer2 {
    display: flex;
    padding-bottom: 3rem;
    justify-content: space-between;
}

.row-footer2 .col-footer {
    padding: 0.5rem;
}

.btn {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    border: none;
    font-weight: bold;
    background-color: white;
}

.btn.large {
    font-size: 1.2rem;
    padding: 1rem 1.3rem;
    margin-right: 1rem;
}

.btn.large.black {
    background-color: #23272A;
    color: white;
}

.btn.blue {
    background-color: #8EA1E1;
    color: white;
}
